@page "/NewApplicationVersion"
@rendermode InteractiveServer

@inject NavigationManager Navigation
@inject IVersioningService VersioningService
@inject NotificationService NotificationService

<PageBody>
    <Body>
        <RadzenStack Orientation="Orientation.Vertical"
                     JustifyContent="JustifyContent.Normal" Gap="0.5rem" class="">

            <h3>Add Version</h3>

            <RadzenLabel Text="Select Application" Component="DropDownSelectApp" />
            <RadzenDropDown @bind-Value=@selectedAppIdDummy Change="@(args => OnChangeApp(args))"
                            Data=@ApplicationNames
                            AllowFiltering="true"
                            TextProperty="@nameof(DropDownItem.Value)"
                            ValueProperty="@nameof(DropDownItem.Id)" Style="width: 100%; max-width: 400px;" Name="DropDownSelectApp" />

            @if (selectedAppIdDummy != null)
            {
                @if (selectedApp != null && selectedApp.Versions.Count > 0)
                {
                    <RadzenRow class="rz-py-2">
                        <RadzenLabel Text="List of Existing Versions" />
                        <RadzenListBox Disabled
                                       Data="selectedApp.Versions"
                                       TValue="int"
                                       TextProperty="@nameof(AppVersionDTO.Version)"
                                       ValueProperty="@nameof(AppVersionDTO.Id)"
                                       Style="width: 100%; max-width: 200px; height: 100px"
                                       InputAttributes="@(new Dictionary<string,object>(){{ "aria-label", "select company" }})" />
                    </RadzenRow>
                }
                @if (selectedApp?.Versions.Count > 0)
                {
                    <RadzenRow>
                        <RadzenCheckBox @bind-Value=@DoInheritCompatibilityOfPreviousVersions Name="DoInheritCheckBox"
                                        TValue="bool" />
                        <RadzenLabel Text="Do inherit compatibility of previous versions" Component="DoInheritCheckBox" class="rz-ms-2" />
                    </RadzenRow>

                }
                @if (MinMajor.HasValue && MinMinor.HasValue && MinPatch.HasValue)
                {
                    <VersioningAppBlazorServer.Components.VersioningComp.NewVersion Applications="Applications"
                                                                                    MinMajor="MinMajor.Value"
                                                                                    MinMinor="MinMinor.Value"
                                                                                    MinPatch="MinPatch.Value"
                                                                                    @ref=NewVersionComp />
                }
                @if (selectedApp != null)
                {
                    <RadzenColumn>
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Add" Variant="Variant.Flat" Click="@AddButtonClick" />
                    </RadzenColumn>
                }
            }
        </RadzenStack>
    </Body>
</PageBody>

@code {
    VersioningAppBlazorServer.Components.VersioningComp.NewVersion? NewVersionComp { get; set; }

    private List<DropDownItem> ApplicationNames = [];
    private List<ApplicationDTO> Applications { get; set; } = [];

    private ApplicationDTO? selectedApp;
    private int? selectedAppIdDummy;

    private int? MinMajor { get; set; } = null;
    private int? MinMinor { get; set; } = null;
    private int? MinPatch { get; set; } = null;

    private bool DoInheritCompatibilityOfPreviousVersions { get; set; } = false;

    private async Task OnChangeApp(object value)
    {
        if (value is int appId)
        {
            var app = await VersioningService.GetApplicationById(appId);
            if (app.IsSuccess)
                selectedApp = app.Value;
            else
            {
                ErrorNotify(app.ErrorData?.Description);
                return;
            }

            selectedApp!.Versions = selectedApp.Versions.OrderByDescending(x => x.Major)
                .ThenByDescending(g => g.Minor).ThenByDescending(r => r.Patch).ToList();

            Applications = new();

            var apps = await VersioningService.GetAllApplications();
            if (apps.IsSuccess)
                Applications = apps.Value?.ToList() ?? [];
            else
                ErrorNotify(apps.ErrorData?.Description);

            Applications = Applications.Where(x => x.Id != selectedApp.Id && x.Versions.Count > 0)
                .ToList().ConvertAll(Copies.Copy);

            MinMajor = selectedApp?.Versions.FirstOrDefault()?.Major ?? 1;
            MinMinor = selectedApp?.Versions.FirstOrDefault()?.Minor ?? 0;
            MinPatch = selectedApp?.Versions.FirstOrDefault()?.Patch + 1 ?? 0;
        }
    }

    protected async Task AddButtonClick(MouseEventArgs args)
    {
        try
        {
            var NewAppVersionCopy = NewVersionComp?.GetVersionDTO();
            if (NewAppVersionCopy == null)
            {
                ErrorNotify("Error while saving new version");
                return;
            }
            var NewAppVersion = Copies.Copy(NewAppVersionCopy);

            if (NewAppVersion != null && selectedApp != null)
            {
                NewAppVersion.AppId = selectedApp.Id;
            }

            if (string.IsNullOrWhiteSpace(NewAppVersion?.Description))
            {
                ErrorNotify("Include changelog");
                return;
            }

            var newVersionResult = await VersioningService.AddNewVersion(NewAppVersion, DoInheritCompatibilityOfPreviousVersions);
            if (newVersionResult.IsSuccess)
            {
                Navigation.NavigateTo($"AppVersionView/{NewAppVersion.AppId}/{newVersionResult.Value}");
            }
            else
            {
                ErrorNotify(newVersionResult.ErrorData?.Description);
                NewAppVersion = new();
                selectedApp = null;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var allAppsNamesResult = await VersioningService.GetAllApplicationsNames();
        if (allAppsNamesResult.IsSuccess)
            ApplicationNames = allAppsNamesResult.Value ?? [];
        else
            ErrorNotify(allAppsNamesResult.ErrorData?.Description);

        await base.OnInitializedAsync();
    }

    private void ErrorNotify(string? error)
    {
        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Detail = error ?? "NO_ERROR_FIX_ME",
                Duration = 3000
            });
    }
}