@page "/AppVersionsView"

@inject IVersioningService VersioningService
@inject NotificationService NotificationService
@inject DialogService dialogService

@rendermode InteractiveServer

<PageBody>
    <Body>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Center" Gap="0.5rem" class="rz-p-md-4 rz-p-sm-2 rz-sm-4 rz-md-12">
            <RadzenLabel Text="Select Application" Component="DropDownSelectApp" />
            <RadzenDropDown @bind-Value=@selectedAppIdDummy Change="@(args => OnChangeApp(args))"
                            Data=@ApplicationNames
                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            TextProperty="@nameof(DropDownItem.Value)"
                            ValueProperty="@nameof(DropDownItem.Id)" Style="width: 100%; max-width: 400px;" Name="DropDownSelectApp" />

            @if (selectedApp != null)
            {
                <RadzenLabel Text="Select Version" Component="DropDownChangeVersion" />
                <RadzenDropDown @bind-Value=@selectedAppVersionId Change="@(args => OnChangeAppVersion(args))"
                                Data=@selectedApp?.Versions
                                TextProperty="@nameof(AppVersionDTO.Version)" ValueProperty="@nameof(AppVersionDTO.Id)"
                                Style="width: 100%; max-width: 400px;" Name="DropDownChangeVersion" />
            }
        </RadzenStack>
        @if (selectedApp != null && selectedAppVersion != null)
        {
            <VersioningAppBlazorServer.Components.VersioningComp.BaseViewAppWithVersion AppId="selectedApp.Id" AppVersionId="selectedAppVersion.Id"
                                                                                        DeleteApp="DeleteAppButtonClick" DeleteAppVersion="DeleteAppVersionButtonClick" />
        }
    </Body>
</PageBody>

@code {
    private List<DropDownItem> ApplicationNames = [];

    private ApplicationDTO? selectedApp;
    private int? selectedAppIdDummy;

    private AppVersionDTO? selectedAppVersion;
    private int? selectedAppVersionId;

    private async Task OnChangeApp(object value)
    {
        if (value is int appId)
        {
            var app = await VersioningService.GetApplicationById(appId);
            if (app.IsSuccess)
                selectedApp = app.Value;
            else
                ErrorNotify(app.ErrorData?.Description);

            selectedAppVersionId = null;
            selectedAppVersion = null;
            StateHasChanged();
        }
    }

    private async Task OnChangeAppVersion(object value)
    {
        selectedAppVersionId = null;
        selectedAppVersion = null;

        if (value is int versionId)
        {
            var version = await VersioningService.GetAppVersion(versionId);
            if (version.HasFailed)
                ErrorNotify(version.ErrorData?.Description);

            selectedAppVersion = version.Value;

            if (selectedAppVersion == null)
                return;

            selectedAppVersionId = versionId;

            StateHasChanged();
        }
    }

    private async Task DeleteAppVersionButtonClick(DeleteAppVersion deleteAppVersion)
    {
        var confirm = await ConfirmYesNo($"Removing version {selectedAppVersion?.Version} of the application {selectedApp?.Name}");
        if (!confirm)
            return;

        var deleteResult = await VersioningService.DeleteApplicationVersion(deleteAppVersion.Version.Id);
        if (deleteResult.IsSuccess)
        {
            selectedAppVersionId = null;
            selectedAppVersion = null;
            if (selectedApp != null && selectedApp.Versions.Count > 0)
            {
                selectedApp.Versions = selectedApp.Versions.Where(x => x.Id != deleteAppVersion.Version.Id).ToList();
            }

            StateHasChanged();
        }
        else
        {
            ErrorNotify(deleteResult.ErrorData?.Description);
        }
    }

    private async Task DeleteAppButtonClick(ApplicationDTO app)
    {
        var confirm = await ConfirmYesNo($"Removing the application {selectedApp?.Name}, along with all versions");
        if (!confirm)
            return;

        var deleteResult = await VersioningService.DeleteApplication(app.Id);
        if (deleteResult.IsSuccess)
        {
            selectedApp = null;
            selectedAppIdDummy = null;

            selectedAppVersionId = null;
            selectedAppVersion = null;

            var applicationNames = await VersioningService.GetAllApplicationsNames();
            if (applicationNames.IsSuccess)
                ApplicationNames = applicationNames.Value ?? [];

            StateHasChanged();
        }
        else
        {
            ErrorNotify(deleteResult.ErrorData?.Description);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var applicationNames = await VersioningService.GetAllApplicationsNames();
        if (applicationNames.IsSuccess)
            ApplicationNames = applicationNames.Value ?? [];
        else
            ErrorNotify(applicationNames.ErrorData?.Description);

        await base.OnInitializedAsync();
    }

    private void ErrorNotify(string? error, int duration = 3000)
    {
        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Detail = error ?? "NO_ERROR_FIX_ME",
                Duration = duration
            });
    }

    private async Task<bool> ConfirmYesNo(string text)
    {
        var dialogResult = await dialogService.Confirm(text, "Are you sure?", new ConfirmOptions()
            {
                OkButtonText = "Yes",
                CancelButtonText = "No",
                ShowClose = false
            });
        if (!dialogResult ?? false)
            return false;
        return true;
    }
}
